body {
    background-color:#F89B9D;
    text-align: center;
    color:#500C35;
}
h1 {
    border-radius: 5px;
    background-color: #AF1416;
    padding: 10px;
    margin: 0.5em 1em 0em 1em;
}
#mainwrap {
    border: 2mm ridge #500C35; 
    border-radius: 5px;
    padding: 1em;
    background-color: #EADFA8;
    margin: 0.5em 12em 2em 12em;
}
h3 {
    font-size:x-large
}
h4 {
    font-size: large;
}
#titleproject {
    padding: 1.5mm;
    margin: 2em 2em 0em 2em;
}
#projectwrap {
    border:3mm ridge #500C35;
    background-color:#F9C29E;
    padding: 3mm;
    margin: 0.5em 16em 2em 16em; 
}