body {
    background-color:#F89B9D;
    text-align: center;
    color:#500C35;
}
h1 {
    border-radius: 5px;
    background-color: #AF1416;
    padding: 10px;
    margin: 0.5em 1em 0em 1em;
}
#mainwrap {
    border: 2mm ridge #500C35; 
    border-radius: 5px;
    padding: 1em;
    background-color: #EADFA8;
    margin: 0.5em 12em 2em 12em;
}
h3 {
    font-size:x-large
}
h4 {
    font-size: large;
}
#titleproject {
    padding: 1.5mm;
    margin: 2em 2em 0em 2em;
}
#projectwrap {
    border:3mm ridge #500C35;
    background-color:#F9C29E;
    padding: 3mm;
    margin: 0.5em 20em 2em 20em; 
}
#side8body {
    background-image: url(D7YntY9XYAEnO7y.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    text-align: center;
    background-color :white;
}
#side8titlewrap {
    border-radius: 5px;
    border: 4mm ridge#3184D3;
    background-color: white;
    padding: 10px;
    padding-top: 20px;
    margin: 2em 2em 0em 2em;
}
#side8captionwrap {
    border-radius: 5px;
    border: 4mm ridge#3184D3;
    border-top: 1em white;
    background-color: white;
    padding: 1em;
    padding-bottom: 2em;
    margin: -0.99em 5em 2em 5em;
}
#side8infowrap {
    color:#64F57D; 
    background-color: #345E48;
    border: 2mm ridge #536258;
    padding: 2em;
    font-family: 'Courier New', monospace;
    font-size: large;
    font-weight: bold;
    margin: 3em 5em 20em 5em;
}
#pickbody {
    text-align: center;
    background-color: #0071ce;
    color:white;
    font-family:sans-serif;
    font-weight: bold;
}

#picktitlewrap {
    border: 2mm solid #ffc220;
    background-color: white;
    font-size: x-large;
    padding: 3mm;
    color: #0071ce;
    margin: 0.5em 4em 2em 4em;
}

#pickinfowrap {
    font-size:large;
    margin: 0.5em 1em 0em 1em;
}
#usernum {
    margin: 0.5em 1em 2em 1em;
}
#calcbutton {
    margin: 0.5em 1em 1em 1em;
}
#hosttop {
    border-radius: 5px;
    background-color: #AF1416;
    padding: 10px;
    margin: 0.5em 1em 0em 1em;
}
#hostbottom {
    border-radius: 5px;
    background-color: #AF1416;
    padding: 10px;
    margin: 0.5em 1em 0em 1em;
}
